<div class="product-table" *ngIf="productItems$">
  <button
  (click)="plusData()"
  >start
  </button>
  <button
    (click)="stopData()"
  >stop
  </button>
  <button
    (click)="resetData()"
  >reset
  </button>
  <input
    #amount1
    type="number"
    [ngStyle]="
          amount1.valueAsNumber < 0 ? {'border-color': 'red'}
          : amount1.valueAsNumber >= 0 ?  {'border-color': 'blue'}
          : {'border-color': 'blue'}"
    [value]="qwe1"
  >
  <input
    #amount2
    type="number"
    [ngStyle]="
          amount2.valueAsNumber < 0 ? {'border-color': 'red'}
          : amount2.valueAsNumber >= 0 ?  {'border-color': 'blue'}
          : {'border-color': 'blue'}"
    [value]="qwe2"
  >


  <ul *ngFor="let item of productItems$.value">
    <li class="item">
      <h3 class="h4">{{ item.name }}</h3>
      <span>amount: {{ item.amount }}</span>
      <p>price: {{ item.price }}</p>
      <div class="input-amount">
        <input
          type="button"
          value="-"
          (click)="amount.value = amount.valueAsNumber - 1"
        >
        <input
          #amount
          type="number"
          [ngStyle]="
          amount.valueAsNumber <= -1 ? {'border-color': 'red'}
          : amount.valueAsNumber >= 0 ?  {'border-color': 'blue'}
          : {'border-color': 'blue'}"
          [disabled]="item.amount === 0"
          [value]=1
          (change)="checkAmountItem(item.id, $event.target)"
        >
        {{amount.value}}
        <input
          type="button"
          value="+"
          (click)='amount.value = amount.valueAsNumber + 1'
        >
      </div>
      <input
        type="button"
        (click)="buyItem(item.id, amount.value)"
        value="buy"
      >
    </li>
  </ul>
</div>
